{% extends 'core/manager_base.html' %}

{% block main %}
<div class="row">
    <div class="col-7">
        <h4>Cafe menu</h4>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addDish" onclick="location.href='/manager/dish';">
            Add dish
        </button>
    </div>
</div>

{% for dish in object_list %}

<div class="row manager__dish">
    <div class="col-10">
        {{ dish.name }} | {{ dish.price }} RUB
    </div>

    <div class="col-2">
        <a href="/manager/showhide_dish/{{dish.id}}/">
            {% if dish.in_menu %}
            <i class="fas fa-eye"></i>
    
            {% else %}
            <i class="fas fa-eye-slash"></i>
    
    
            {% endif %}
        </a>
            <span>:</span>
        <a href="/manager/update_dish/{{dish.id}}/"><i class="fas fa-pen" data-target="#editDish"></i></a>
        <span>::</span>
        <a href="/manager/delete_dish/{{dish.id}}/"><i class="fas fa-trash-alt"></i></a>
    </div>
    
</div>

{% endfor %}

{% endblock %}