{% extends 'core/base.html' %}

{% block content %}

{% for cafe in object_list %}
<a href='{{cafe.id}}/'>{{cafe.name}}</a>
{% endfor %}
<!-- 
{{ user.is_staff }} -->

<div class="container-fluid h-100 ">
    <div class="row h-100">
        <div class="col-md-8 offset-md-3 my-auto ">
            <h4 class="mt-5">Please choose cafe</h4>
            <div class="row">
                {% for cafe in object_list %}
                <div class="col-md-4 cafe" onclick="location.href='{{cafe.id}}/';">
                    
                        <div class="cafe-header">
                            <p>{{cafe.name}}</p>
                        </div>
                    

                </div>
                {% endfor %}
            </div>

        </div>

    </div>
</div>
{% endblock %}