{% extends 'core/base.html' %}

{% block content %}


<div class="container-fluid h-100">

    <div class="row h-100 ">


            <div class="col-md-6 my-auto dish-main">
                <form action="/new_order/" method="post">
            {% csrf_token %}
                <div class="container my-order">
                    <h2>Order #</h2>
                    <ul class="orderListing">
                    </ul>
                    <p class="total"></p>
                 <div class="form-group my-auto col-lg-8">
                    <input style="color:#000" type="text" class="form-control" name="destination" placeholder="Address">
                </div>
                <div class="dishes-button">
                    <input id="send_selected" type="submit" class="btn btn-success cartSubmit" value="Submit Order"/>
                </div>
                </div>
                </form>
            </div>


            <div class="col-md-6 my-auto dish-main">
                <div class="row dishesList">
                    {% for dish in object_list %}
                    <div class="col-md-6 dish">
                        <div class="row">
                            <div class="col-md-1 align-self-center dishId">{{dish.id}}</div>
                            <div class="col-md-7 align-self-center dishName">{{dish.name}}</div>
                            <div class="col-md-2 align-self-center price">{{dish.price }}</div>
                            <div class="col-md-2 align-self-center">
                                <button type="button" class="btn btn-success addToCart">
                                    <i class="fa fa-cart-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>



    </div>

</div>
<script src="/static/js/innofood.js"></script>
{% endblock %}