{% extends 'core/manager_base.html' %}

{% block main %}
<h4>Orders</h4>

<div class="row manager Main__menu">
    <div class="col-4"><a href="/manager/orders/">Active</a></div>
    <div class="col-4 managerMain__menu_active">Confirmed</div>
    <div class="col-4"><a href="/manager/declined/">Declined</a></div>
</div>

{% for order in object_list %}

<div class="manager__order manager__order_confirmed">
    <div class="row justify-content-between">
        <div class="col-6">
            <p>Order # {{ order.id }}</p>
        </div>
        <div class="col-1">
            <a href="/manager/switch_order/{{order.id}}/1"><i class="fas fa-redo"></i></a>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}
