{% extends 'core/base.html' %}

{% block content %}


<div class="container-fluid h-100 ">
    <div class="row h-100">
        <div class="col-lg-4 offset-lg-4 my-auto ">
                <form class="form-horizontal" id="login-form" method="post">
                {% csrf_token %}
                    <div class="container text-center mb-5">
                        <h4> My account</h4>
                    </div>
                   {% if form.errors %}
                    <p class="label label-danger">
                        Your email or phone are wrong.
                        Please try again.
                    </p>
                {% endif %}
                    <div class="form-group ">
                        <input type="text" class="form-control"  name="email"  value="" id="email" aria-describedby="emailHelp"
                               placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"  name="phone"  value="" id="phone" aria-describedby="phoneHelp"
                               placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


