@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,450,500");
@import url('https://fonts.googleapis.com/css?family=Arsenal:400,700|Open+Sans:500,600');

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.667;
}

body {
  font-family: 'Roboto', 'sans-serif';
}

a {
  -webkit-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
    color: transparent;
}

h2{
  font-size: 4vh;
  font-weight: 600;
}

h3{
  font-size: 3.5vh;
  font-weight: 600;
}

h4{
  font-size: 3vh;
  font-weight: 300;
}

h5{
  font-size: 2vh;
  font-weight: 300;
}

p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 200;
  }

.headline {
  font-weight: 700;
  font-size: 20px !important;
}

iframe {
  overflow: hidden;
  position: relative;
}
.service-icon {
    background-color: #fff;

    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2rem;
}

section {
  padding: 6rem 0;
}

section p{
  text-align: justify;
}

input[type="text"],
input[type="password"],
input[type="email"]
{
    font-size:2vh;
    font-weight: 200;
    color: #fff;
}

.label-danger {
color:#A04C46;
font-size: 14pt;
}

.form-horizontal {
margin: 30px;
 background-color: #26262D;
 border-radius: 15px;
 border: 1px solid #444B4E;
 padding: 40px 10px 10px 10px;
 text-align: center;
}


.form-horizontal .form-group{
 padding: 0 20px;
 margin: 0 0 20px 0;
 position: relative;
}

.hidden {
    color:#444B4E!important;
    font-size: 14pt;
}


@media only screen and (max-width: 479px){
 .form-horizontal .form-group{
 padding: 0 25px;
 }
 .form-horizontal .form-group i{
 left: 45px;
 }
 .form-horizontal .btn{
 padding: 10px 20px;
 }
}

#mainNav {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  padding: 25px 0;
  background-color: #444B4E;
}

#mainNav .navbar-brand {
  font-size: 3vh;
  color:#fff;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 600;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {

}

#mainNav .navbar-toggler {
  font-size: 12px;
}

#mainNav .navbar-nav > li > a {
  font-size: 24px;
  font-weight: 350;
}


#mainNav .navbar-nav > li > a.active {
  background-color: #46A04F;
}


#mainNav .navbar-nav > li > a.active:hover {
  background-color: #46A04F;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
color: #46A04F;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #46A04F;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: #444B4E;
    background-color: #444B4E;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: #46A04F;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #46A04F;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #46A04F;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #46A04F;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #46A04F;
  }
}

i {
    font-size:30pt!important;
}

header.masthead.reg {
  font-family: 'Roboto', 'sans-serif';
  height: 100vh;
  background:
        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url('/static/img/bg.jpeg');
  background-size: cover;

}

header.masthead {
  font-family: 'Roboto', 'sans-serif';
  height: 100vh;

}

header.masthead .btn{
  font-size: 2vh!important;
  color: rgb(36,8,12);
  font-weight: 700;
}

header.masthead .header-content h1 {
  font-family: 'Roboto', 'sans-serif';
  font-size: 5.5vh;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(36,8,12);
}


header.masthead .header-content p{
  font-size: 2vh;
  font-weight: 350;
  margin-bottom: 1rem;

}

@media (max-width: 575.98px) {
  header.masthead .header-content h1 {
     font-size: 4.9vh;
  }

  header.masthead .btn {
    margin-bottom: 25px;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  header.masthead .header-content h1 {
     font-size: 7vh;
  }
}





footer {
  padding: 25px 0;
  text-align: center;

}

footer p {
  font-size: 20px;
  margin: 0;
}

.btn-primary {
  background-color: #46A04F!important;
  border-color: #46A04F!important;
  color: #242627 !important;
}

.btn-secondary {
  background-color:#444B4E;
  border-color:#444B4E;
  color: #46A04F!important;
  margin: 0px;
  padding:0px;

}

hr{
background-color: #46A04F!important;
width: 100%;
height: 1px;
}

.btn {
  border-radius: 5px;
  font-size: 2vh;
  color:#fff;
  padding: 10px 35px;
  font-weight: 250 !important;
}

.green {
    color:#46A04F!important;
}

.container-fluid {
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #26262D;
    color: white;
}

.header {
    color: #AAABAB;
    background-color: #444B4E;
    padding: 0.5rem;
}

.header h2 {
    color: #fff;
}

.role {
    color: #46A04F;
}

.header i {
    font-size: 2rem;
    color: white;
}

.cafe-main {
    width: 40%;
    margin-top: 2rem;
}

.cafe {
    padding: 0;
    margin: 1rem;
    height: 15rem;
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.3)
        ),
        url('/static/img/cafe.jpg');
    background-size: cover;
    cursor: pointer;
    border: 1px solid #444B4E;

}

.cafe-header{
    background-color: rgba(10, 10, 10, 0.6);
}

.cafe-header p {
    margin-left: 5%;
    font-size: 3vh;
    font-weight:300;

}

a:hover, a:focus {
    color:#46A04F;
    text-decoration: none;
}

a {
    color:#fff;
}

.cafe:hover {
    border: 2px solid #46A04F;
}

.dish {
    background-color: #444B4E;
    margin: 1rem;
    padding: 1rem;
}

.dish-main {
    margin-top: 2rem;
}

.dishes-button {
    text-align: center;
    margin-top: 1rem;
}

.dishes-button button {
    width: 20%;
}

.my-order {
    margin-top: 2rem;
    width: 50%;
}

.order {
    background-color: #444B4E;
    margin: 1rem auto;
    padding: 0.2rem 0.2rem 0.2rem 2rem;
    cursor: pointer;
    border-radius: 6px;
}

.order:hover {
    background-color: #46A04F;
}

.details:hover {
    cursor: default;
    background-color: #444B4E;
}

.noOrder {
    margin-top: 4rem;
}

.noOrder button {
    width: 40%;
}

.customerAccount {
    margin-top: 4rem;
}

.customerAccount button {
    width: 100%;
}

.manager-container {

}

.leftMenu {
    background-color: #353A3D;
}

.menuOption {
    background-color: #444B4E;
    border: 1px solid #444B4E;
    margin: 1rem;
    border-radius: 6px;
}

.menuOption:hover {
    border: 1px solid #46A04F;
    cursor: pointer;
}

.managerMain {
    padding: 2rem;
}

.managerMain__menu {
    color: #444B4E;
}

.managerMain__menu_active {
    color: #46A04F;
    text-decoration: underline;
}

.manager__order {
    background-color: #444B4E;
    border: 1px solid #444B4E;
    width: 50%;
    border-radius: 6px;
    padding: 0.5rem;
    margin: 1rem 1rem 1rem 0;
    cursor: pointer;
}

.manager__order:hover {
    border:2px solid #46A04F;
}

.manager__order p{
    margin: 0;
    padding: 0;
}

.manager__order_confirmed {
    background-color: #46A04F;
}

.manager__order_declined {
    background-color: red;
}

.manager__dish {
    background-color: #444B4E;
    border: 1px solid #444B4E;
    width: 50%;
    border-radius: 6px;
    padding: 0.5rem;
    margin: 1rem 1rem 1rem 0;
    cursor: pointer;
}

.modal-content {
    background-color: #444B4E;
}

.close {
    color: white;
}


.container-fluid {
    padding: 0;
}

