| **Test ID** | **Test Case Name** | **Result** | **Video Link**                       |
| TC-1        | Create order       | Passed     | [Link](https://youtu.be/UCq5hxfzpLY) |
| TC-2        | Delete order       | Failed     | [Link](https://youtu.be/EgJPU8nv5M4) |
| TC-3        | Confirm order      | Passed     | [Link](https://youtu.be/Sm4VxkOXniU) |
| TC-4        | Decline order      | Passed     | [Link](https://youtu.be/1UlLiX7SkxI) |
| TC-5        | Create dish        | Passed     | [Link](https://youtu.be/VdxT0cDDJQk) |
| TC-6        | Edit dish          | Passed     | [Link](https://youtu.be/XJVRC3MSGI4) |
| TC-7        | Create complaint   | Passed     | [Link](https://youtu.be/yr9Ucs1Hj4c) |
| TC-8        | Resolve complaint  | Failed     | [Link](https://youtu.be/I6Sl_3Wnxb0) |
| TC-9        | Sign Up            | Passed     | [Link](https://youtu.be/B0XWN6XJziI) |
| TC-10       | Sing in            | Passed     | [Link](https://youtu.be/ybsYtPRo17E) |































